@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');


* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  font-family: "Poppins";
}

:root {
  --primary: #222831;
  --secondary: #00ADB5;
  --ternary: #393E46;
  --fourth: #EEEEEE;
  --white: #fff;
  --error: #e7195a;
  --textColor: #0e1111;
}

body {
  background: #f1f1f1;
}



/* Header Styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 2rem; */
  background-color: var(--secondary);
}

nav a {
  margin: 0 2rem;
  text-decoration: none;
  color: var(--textColor);
}

nav a:hover {
  color: var(--primary);
}

header h3 {
  color: var(--primary);
  font-weight: 700;
  font-size: 4rem;
  font-family: 'Fasthand', cursive;
  margin: 0px 0px 0px 50px;

}

header nav button {
  padding: 10px 10px 8px 10px;
  margin: 0 2rem;
  background-color: var(--ternary);
  color: var(--white);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  /* display: inline-block; */
  border: none;
  font-size: 0.9rem;
  /* transition: all 0.3s ease; */
  line-height: 1.1;
}

nav .nav-log {
  text-align: right;
  justify-content: right;
  cursor: pointer;
}

header .nav-btn {
  padding: 10px;
  margin: 17px 20px 0px 0px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--primary);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}



@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--secondary);
    /* transition: 1s; */
    transform: translateY(-300vh);
  }

  header .responsive_nav {
    transform: none;
  }

  header h3 {
    
    font-weight: 700;
    font-size: 2.5rem;
    font-family: 'Fasthand', cursive;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 1.5rem;
  }

  nav a {
    font-size: 1.1rem;
  }

}


/* Watchlist */

.watchlist-background {
  margin-top: 30px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
}

.watchlist-card {
  background: var(--ternary);
  text-align: right;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
  width: 500px;
  height: auto;
}

.book-container {
  /* background-color: #e7195a; */
  display: grid;
  grid-template-columns: 0.6fr 1.3fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "book-image title-authors-contain"
    ". button-detail-area";
  height: 250px;
}

.book-image { 
  margin-right: 20px;
  padding-right: 2.5px;
  grid-area: book-image; }

.title-authors-contain {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1.2fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "book-title"
    "book-authors";
  grid-area: title-authors-contain;
}

section h1 {
  grid-area: book-title;
  font-size: large;
  font-weight: 600;
  color: var(--secondary);
  padding: 10px;
}


.book-authors { 
  grid-area: book-authors;
  color: gray; }


.watchlist-card .button-detail-card-area button {
  margin-top: 10px;
  margin-right: 20px;
  padding: 5px 10px 5px 10px;;
  background-color: var(--primary);
  color: gray;
  border-radius: 5px;
  font-weight: 500;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.watchlist-card button {
  margin-top: 10px;
  padding: 10px 10px 5px 10px;
  color: var(--ternary);
  border-radius: 5px;
  font-weight: 500;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.waiting-books-list {
  font-family: "Fasthand";
  margin-top: 100px;
  text-align: center;
}


.container {
  text-align: center;
}

input {
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 4px;
}
form button {
  margin-left: 10px;
  background: var(--ternary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* CSS of search page */


.result-search-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.result-card {
  display: flex;
  flex-wrap: wrap;
  background: var(--ternary);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
  width: 500px;
  height: auto;
}

.result-authors-contain{
  text-align: right;
  width: 370px;
  display: flex;
  flex-direction: column;
}

.result-authors-contain h1 {
  word-wrap: break-word;
}

.button-detail-card-area .details-search-card {
  margin-top: 20px;
  padding: 5px 10px 5px 10px;;
  background-color: var(--primary);
  color: gray;
  border-radius: 5px;
  font-weight: 500;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
}


.add-watchlist-btn {
  margin-top: 10px;
  padding: 5px 10px 5px 10px;;
  background-color: var(--secondary);
  color: var(--ternary);
  border-radius: 5px;
  font-weight: 500;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.button-detail-card-area button:disabled {
  background-color: var(--secondary);
  color: var(--ternary);
  opacity: 0.1;
  cursor: not-allowed;
}


/* auth forms */
form.signup, form.login {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 60px auto;
  padding: 40px 40px 40px 40px;
  background: var(--secondary);
  border-radius: 10px;
}

.login button, .signup button {
  margin: 25px 0 0 0
}

.login input, .signup input {
  width: 94%;
  margin: 0;
}

.login label, .signup label {
  margin: 25px 0 5px 0 
}

/* Overlay BookDetails and Modal */
.overlay {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1));
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-inner {
  background: white;
  width: 700px;
  height: auto;
  padding: 1.5rem;
  position: relative;
  /* box-sizing: border-box; */
  overflow: hidden;
  border-radius: 10px;
}

.overlay-inner .close {
  position: absolute;
  top: 1.2rem;
  right: 1.4rem;
  outline: none;
  border: none;
  font-size: 20px;
  background-color: transparent;
}

.overlay-inner .inner-box {
  display: flex;
  justify-content: center;
}

.overlay-inner .inner-box img {
  margin-right: 20px;
  width: 200px;
  height: 250px;
}

.info {
  text-align: left;
}

.info h4 {
  margin-top: 10px;
  font-size: 1em;
  color: gray;
}

.info h1 {
  font-size: large;
  font-weight: 600;
  color: var(--secondary);
  padding: 10px 0px;
}

.overlay-inner .inner-box p {
  margin-top: 10px;
  font-size: 0.8rem;
  color: var(--ternary);
  padding-bottom: 10px;
}